<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PNAME %><br>
    <%= f.text_field :PNAME %>
  </div>
  <div class="field">
    <%= f.label :PRICE %><br>
    <%= f.number_field :PRICE %>
  </div>
  <div class="field">
    <%= f.label :QUANTITY %><br>
    <%= f.number_field :QUANTITY %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
